*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container{
    display: flex;
    width: 100%;
}

.sidebar{
    width: 220px;
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.sidebar > div{
    text-align: center;
    cursor: pointer;
}

.logo{
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 2px;
}

.list{
    font-size: 18px;
    transition: 0.3s;
}

.list:hover{
    color: brown;
    transform: scale(1.25);

}

.main{
    width: 100%;
    margin: 20px;
}

.template-grid-header,.template-grid{
    margin: 20px;
}

.template-grid-header{
    font-size: 30px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: thistle;
    border-radius: 20px;
    transition: box-shadow 0.4s ease-in-out;
}
.template-grid-header:hover{
    box-shadow: 5px 5px 15px black;
    transition: box-shadow 0.4s ease-in-out;
}
.template-grid{
    margin: 50px;
    padding: 10px;
    background-color: thistle;
    transition: 1s;
    border-radius: 20px;
}
.template-grid:hover{
    box-shadow: 5px 5px 15px black;
    transition: 1s;
}

.header-grid{
    display: flex; 
    justify-content: space-around;
    margin-bottom: 10px;
}

.child-grid{
    display: flex;
    justify-content: space-around;
    
}

.func{
    display: flex;
    justify-content: space-between;
}

.create-template{
    align-content: center;
    padding-right: 10px;
}

.create-template-button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: thistle;
    color: white;
    cursor: pointer;
    transition: 1s;
}
.create-template-button:hover{
    box-shadow: 0.1px 0.1px 50px black;
    transition: 1s;
}

#templateSearch{
    width: 200px;
    border: none;
    border-radius: 5px;
    height: 25px;
    outline: none;
}

.func{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -30px;
}

.row > div{
    margin: 10px;
}

.templateform{
    top: 50px;
    position: absolute;
    display: none;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    left: 590px;
    padding: 30px;
    margin: 30px;
    height: 300px;
    border-radius: 20px;
    background-color: blanchedalmond;
}